<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="template :: headder"></head>

<body>
<div id="page-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/" style="color:blue;" th:text="${user.lastName} +' '+ ${user.firstName}">My CV</a>
        <div th:replace="template :: navbar"></div>
    </nav>

    <div id="content-wrap">
        <div class="container">
            <form method="post" th:action="@{'/competences/add/' + ${competence.id}}" th:object="${competence}">
                <div class="form-group">
                    <label for="nameInput">Nom</label>
                    <input type="text" th:field="*{name}" class="form-control" id="nameInput">
                </div>
                <button type="submit" class="btn-group float-right m-3">Back</button>
            </form>
        </div>
        <!--        <div th:replace="template :: backbtn"></div>-->
    </div>
    <div th:replace="template :: footerbar"></div>
</div>
</body>
</html>
