<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="template :: headder"></head>

<body>
<div id="page-container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/" style="color:blue;" th:text="${user.lastName} +' '+ ${user.firstName}">My CV</a>
        <div th:replace="template :: navbar"></div>
    </nav>
    <div class="container">
        <p>HOME</p>
    </div>
    <div class="container">
        <section id="NOM PRENOM">
            <div class="container">
                <div class="section-title-area">
                    <h2 class="section-title">NOM PRENOM</h2>
                </div>
                <div class="section-content">
                    <input aria-describedby="emailHelp" class="form-control" id="nom_prenom_form" type="text"
                           value="Bla Bla Bla">
                </div>
            </div>
        </section>
        <section id="BIO">
            <div class="container">
                <div class="section-title-area">
                    <h2 class="section-title">BIO</h2>
                </div>
                <div class="section-content">
                    <input aria-describedby="emailHelp" class="form-control" id="bio_form" type="text"
                           value="Bla Bla Bla">
                </div>
            </div>
        </section>
        <section id="FORMATION">
            <div class="container">
                <div class="section-title-area">
                    <h2 class="section-title">FORMATION</h2>
                </div>
                <div class="section-content">
                    <input aria-describedby="emailHelp" class="form-control" id="formation_form" type="text"
                           value="Bla Bla Bla">
                </div>
            </div>
        </section>
        <section id="EXPERIENCE">
            <div class="container">
                <div class="section-title-area">
                    <h2 class="section-title">EXPERIENCE</h2>
                </div>
                <div class="section-content">
                    <input aria-describedby="emailHelp" class="form-control" id="experiences_form" type="text"
                           value="Bla Bla Bla">
                </div>
            </div>
        </section>
        <section id="COMPETENCES">
            <div class="container">
                <div class="section-title-area">
                    <h2 class="section-title">COMPETENCES</h2>
                </div>
                <div class="section-content">
                    <input aria-describedby="emailHelp" class="form-control" id="competences_form" type="text"
                           value="Bla Bla Bla">
                </div>
            </div>
        </section>
    </div>
    <form>
        <div class="form-group">
            <label for="exampleFormControlFile1">Example file input</label>
            <input class="form-control-file" id="exampleFormControlFile1" type="file">
        </div>
    </form>
    <div class="container">
        <div class="btn-group float-right m-3">
            <a class="btn btn-primary" href="/edit">Back</a>
        </div>
    </div>
    <div th:replace="template :: footerbar"></div>
</div>
</body>
</html>
