<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="template :: headder"></head>

<body>
<div id="page-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/" style="color:blue;" th:text="${user.lastName} +' '+ ${user.firstName}">My CV</a>
        <div th:replace="template :: navbar"></div>
    </nav>

    <div id="content-wrap">
        <div class="container">
            <form method="post" th:action="@{'/contact/edit/' + ${user.id}}" th:object="${user.contact}">
                <div class="form-group">
                    <label for="emailInput">Email</label>
                    <input type="email" th:field="*{email}" class="form-control" id="emailInput">
                </div>
                <div class="form-group">
                    <label for="phoneNumberInput">Numéro de téléphone</label>
                    <input type="text" th:field="*{phoneNumber}" class="form-control bfh-phone" data-country="FR" id="phoneNumberInput">
                </div>
                <div class="form-group">
                    <label for="addressInput">Adresse</label>
                    <input type="text" th:field="*{address}" class="form-control" id="addressInput">
                </div>

                <div class="form-row">
                    <div class="col-7">
                        <label for="cityInput">Ville</label>
                        <input type="text" th:field="*{city}" class="form-control" id="cityInput">
                    </div>
                    <div class="col">
                        <label for="postcodeInput">Code  Postal</label>
                        <input type="text" th:field="*{postcode}" class="form-control" id="postcodeInput">
                    </div>
                    <div class="col">
                        <label for="countryInput">Pays</label>
                        <input type="text" th:field="*{country}" class="form-control" id="countryInput">
                    </div>
                </div>

                <button type="submit" class="btn-group float-right m-3">Back</button>
            </form>
        </div>
        <!--        <div th:replace="template :: backbtn"></div>-->
    </div>
    <div th:replace="template :: footerbar"></div>
</div>
</body>
</html>
