<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CV en Ligne</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>

<body style="background-color: darkslategrey; color: floralwhite;">


<div th:replace="template :: navbar"></div>


<div class="container">


    <p>HOME</p>
    <!--      <tbody>-->
    <!--      <tr th:each="user : ${users}">-->
    <!--        <td scope="row" th:text="${user.firstName}"></td>-->
    <!--        <td th:text="${user.lastName}"></td>-->
    <!--        <td th:text="${user.age}"></td>-->
    <!--      </tr>-->
    <!--      </tbody>-->

    <div class="container">
        <div class="btn-group float-right m-3">
            <a href="/edit" class="btn btn-primary">EDIT</a>
        </div>
    </div>
</div>

<div class="container">
    <section id="NOM PRENOM">
        <div class="container">
            <div class="section-title-area">
                <h2 class="section-title" th:text="${user.lastName} +' '+ ${user.firstName}"></h2>
            </div>
            <div class="section-content">
                <p th:text="${user.bio}"></p>
                <p th:text="${user.phoneNumber}"></p>
                <p th:text="${user.adresse.adress}"></p>
                <p th:text="${user.adresse.city} + ', '+ ${user.adresse.postcode}"></p>
                <p th:text="${user.adresse.country}"></p>
            </div>
        </div>
    </section>
    <section id="BIO">
        <div class="container">
            <div class="section-title-area">
                <h2 class="section-title">BIO</h2>
            </div>
            <div class="section-content">
                <p>Bla <strong>Bla </strong>Bla</p>
                <p th:text="${user.birthMonth}+'/'+ ${user.birthDay} +'/'+${user.birthYear}"></p>
            </div>
        </div>
    </section>
    <section id="FORMATION">
        <div class="container">
            <div class="section-title-area">
                <h2 class="section-title">FORMATION</h2>
            </div>
            <div class="section-content">
                <p>Bla <strong>Bla </strong>Bla</p>
                <p>Bla Bla Bla</p>
            </div>
        </div>
    </section>
    <section id="EXPERIENCE">
        <div class="container">
            <div class="section-title-area">
                <h2 class="section-title">EXPERIENCE</h2>
            </div>
            <div class="section-content">
                <p>Bla <strong>Bla </strong>Bla</p>
                <p>Bla Bla Bla</p>
            </div>
        </div>
    </section>
    <section id="COMPETENCES">
        <div class="container">
            <div class="section-title-area">
                <h2 class="section-title">COMPETENCES</h2>
            </div>
            <div class="section-content">
                <p>Bla <strong>Bla </strong>Bla</p>
                <p>Bla Bla Bla</p>
            </div>
        </div>
    </section>
</div>


<div th:replace="template :: footer"></div>

</body>

</html>
