<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: headder"></head>

<body>
<div id="page-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/" style="color:blue;" th:text="${user.lastName} +' '+ ${user.firstName}">My
            CV</a>
        <div th:replace="template :: navbar"></div>
    </nav>

    <div id="content-wrap">
        <section class="firstsection">
            <h1>Je suis<br/>Ingénieur Numérique & Developpeur</h1>
            <div class="divtext">
                <p style="text-align: center">
                    Bienvenue sur mon CV en ligne. Je m'appelle
                    <a style="font-size:125%" th:text="${user.lastName} +' '+ ${user.firstName}"></a>
                    et je vous propose d'en savoir un peu plus sur moi...
                </p>
            </div>
        </section>
        <section>
            <h2>A PROPOS DE MOI</h2>
            <div class="divtext">
                <img alt="woaw"
                     class="imgtext" height="150"
                     src="https://cdn.pixabay.com/photo/2018/05/21/23/32/education-3420039_960_720.png" width="200"/>
                <p th:text="${user.email}">******</p>
                <p th:text="${user.phoneNumber}">******</p>
                <p th:text="${user.adresse.adress}">******</p>
                <p th:text="${user.adresse.city} + ', '+ ${user.adresse.postcode}">******</p>
                <p th:text="${user.adresse.country}">******</p>
                <p th:text="${user.birthMonth}+'/'+ ${user.birthDay} +'/'+${user.birthYear}"></p>
                <a class="btn btn-outline-secondary" href="http://epf.fr">En savoir plus...</a>
            </div>
        </section>
        <section class="secondsection">
            <h2>MON PARCOURS</h2>
            <div class="divtext">
                <div class="centrer">
                    <table>
                        <tr>
                            <td>FORMATION</td>
                            <td>EXPERIENCE</td>
                            <td>COMPETENCES</td>
                        </tr>
                        <tr>
                            <td><img alt="formation"
                                     height="50"
                                     src="\images\school.png" width="50"/></td>
                            <td><img alt="experiences"
                                     height="50"
                                     src="\images\work.png" width="50"/></td>
                            <td><img alt="compétences"
                                     height="50"
                                     src="\images\subject.png" width="50"/></td>
                        </tr>
                        <tr>
                            <td>liste</td>
                            <td>liste</td>
                            <td>liste</td>
                        </tr>
                    </table>
                </div>
            </div>
            <a class="btn btn-outline-secondary" href="http://epf.fr">En savoir plus...</a>
        </section>
        <section>
            <h2>EXPERIENCE</h2>
            <div class="divtext">
                <p>Bla <strong>Bla </strong>Bla</p>
                <p>Bla Bla Bla</p>
            </div>
            <a class="btn btn-outline-secondary" href="http://epf.fr">En savoir plus...</a>
        </section>
        <section class="secondsection">
            <h2>COMPETENCES</h2>
            <div class="divtext">
                <p>Bla <strong>Bla </strong>Bla</p>
                <p>Bla Bla Bla</p>
            </div>
            <a class="btn btn-outline-secondary" href="http://epf.fr">En savoir plus...</a>
        </section>
        <a class="btn btn-outline-secondary" href="/edit">Edit</a>
    </div>
    <div th:replace="template :: footerbar"></div>
</div>
</body>
</html>