<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="template :: headder"></head>

<body>
<div id="page-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/" style="color:blue;" th:text="${user.lastName} +' '+ ${user.firstName}">My CV</a>
        <div th:replace="template :: navbar"></div>
    </nav>
    <div id="content-wrap">
        <p>EXPERIENCES</p>

        <a class="btn btn-outline-secondary" href="/experiences/edit">Edit</a>

        <p th:each="experiences, itemStat : ${user.experiences}">
            <a th:text="${experiences.name}"/> </a>
            <a th:text="${experiences.year}"/> </a>
            <a th:text="${experiences.place}"/> </a>
            </br>
            <a th:text="${experiences.description}"/> </a>
        </p>
        <div th:replace="template :: backbtn"></div>
    </div>
    <div th:replace="template :: footerbar"></div>
</div>
</body>
</html>