<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: headder"></head>

<body>
<div id="page-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/" style="color:blue;" th:text="${user.lastName} +' '+ ${user.firstName}">My
            CV</a>
        <div th:replace="template :: navbar"></div>
    </nav>
    <div id="content-wrap">
        <section>
            <h2>PROJETS</h2>
            <p th:each="projets, itemStat : ${user.projets}">
                <a th:text="${projets.name}"/> </a>
                <a th:text="${projets.year}"/> </a>
                <a th:text="${projets.place}"/> </a>
                </br>
                <a th:text="${projets.description}"/> </a>
            </p>
            <div>
                <a class="btn btn-outline-secondary" href="/projets/edit">Edit</a>
            </div>
            <div th:replace="template :: backbtn"></div>
        </section>
    </div>
    <div th:replace="template :: footerbar"></div>
</div>
</body>
</html>