<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: headder"></head>

<body>
<div id="page-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/" style="color:blue;" th:text="${user.lastName} +' '+ ${user.firstName}">My
            CV</a>
        <div th:replace="template :: navbar"></div>
    </nav>

    <div id="content-wrap">
        <section class="firstsection">
            <h1>Je suis <br/> <a>Ingenieur Numerique & Developpeur </a></h1>
            <div class="divtext">
                <p style="text-align: center">
                    Bienvenue sur mon CV en ligne. Je m'appelle
                    <a style="font-size:125%" th:text="${user.lastName} +' '+ ${user.firstName}"></a>
                    et je vous propose d'en savoir un peu plus sur moi...
                </p>
            </div>
        </section>
        <section>
            <h2>A PROPOS DE MOI</h2>
            <div class="divtext">
                <img alt="woaw" class="imgtext"
                     src="https://cdn.pixabay.com/photo/2018/05/21/23/32/education-3420039_960_720.png"/>
                <p th:text="${user.contact.email}">******</p>
                <p th:text="${user.contact.phoneNumber}">******</p>
                <p th:text="${user.contact.address}">******</p>
                <p th:text="${user.contact.city} + ', '+ ${user.contact.postcode}">******</p>
                <p th:text="${user.contact.country}">******</p>
                <p th:text="${user.birthMonth}+'/'+ ${user.birthDay} +'/'+${user.birthYear}"></p>
                <a class="btn btn-outline-secondary" href="http://epf.fr">Qui suis-je ?</a>
            </div>
        </section>
        <section class="secondsection">
            <h2>MON PARCOURS</h2>
            <div class="divtext">
                <table>
                    <tr>
                        <td>FORMATION</td>
                        <td>EXPERIENCE</td>
                        <td>COMPETENCES</td>
                    </tr>
                    <tr>
                        <td><a href="/formations"><img alt="formation" class="imgtable" src="\images\school.png"/></a>
                        </td>
                        <td><a href="/experiences"><img alt="formation" class="imgtable" src="\images\work.png"/></a>
                        </td>
                        <td><a href="/competences"><img alt="formation" class="imgtable" src="\images\subject.png"/></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p th:each="formations, itemStat : ${user.formations}">
                                <a th:text="${formations.name}"/> </a>
                                <a th:text="${formations.year}"/> </a>
                                <a th:text="${formations.place}"/> </a>
                                </br>
                            </p>
                        </td>
                        <td>
                            <p th:each="experiences, itemStat : ${user.experiences}">
                                <a th:text="${experiences.name}"/> </a>
                                <a th:text="${experiences.year}"/> </a>
                                <a th:text="${experiences.place}"/> </a>
                                </br>
                            </p>
                        </td>
                        <td>
                           <p th:each="competences, itemStat : ${user.competences}">
                                <a th:text="${competences.name}"/> </a>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
        <section>
            <a class="btn btn-outline-secondary" href="http://epf.fr">En savoir plus...</a>
        </section>
        <a class="btn btn-outline-secondary" href="/edit">Edit</a>
    </div>
    <div th:replace="template :: footerbar"></div>
</div>
</body>
</html>