<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headder">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet">
</head>

<body>
<div th:fragment="navbar">
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/formations">Formations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/experiences">Expériences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/competences">Compétences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projets">Projet</a>
            </li>
            <!-- METTRE A DROITE-->
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</div>

<footer class="footer footer-expand-lg footer-light bg-light" id="footer" th:fragment="footerbar">
    <a href="http://www.localhost:8080/">Retour en Haut</a> -
    <a href="http://mentions-legales.fr">Mentions L&eacute;gales</a> -
    <a href="/contact" target="_blank">Contacter</a> -
    <strong> Réseaux sociaux : </strong>
    <a href="http://www.facebook.com/">Facebook</a> -
    <a href="https://fr.linkedin.com/">LinkedIn</a> -
    <a href="http://www.twitter.com/">Twitter</a> -
    <a href="http://instagram.com/">Instagram</a>
</footer>

<div class="btn-group float-right m-3" th:fragment="backbtn">
    <a class="btn btn-primary" href="/">Back</a>
</div>

</body>
</html>
