<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">

<head>
</head>


<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <a class="navbar-brand" href="/">My CV</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/formations">Formations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/experiences">Expériences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/competences">Compétences</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projets">Projet</a>
            </li>


            <!-- METTRE A DROITE-->
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>


<nav class="footer " th:fragment="footer">
    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">


        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</nav>


</body>
</html>