body {
    background-color: black;
    color: white;
}

.firstsection {
    background-image: url("/images/woaw.jpg");
    /*background-image:url(https://hdfondsdecran.com/image/201609/2189/arc-en-ciel-ligne.jpg);*/
    background-size: 100% 100%;
    color: black;
    text: bold;
}

.secondsection {
    background-color: #2B2B2B;
}

.imgtext {
    float: left;
    margin: 0 6px 0 0;
    height: 150px;
    width: 200px;
}

.imgtable {
    height: 30px;
    width: 30px;
}

.date{
    color:blue ; !important;
}

table {
    width: 100%;
}
td {
     text-align: center;
     vertical-align: top;
     padding-left: 2rem;
     padding-right: 2rem;
 }

td {
    padding-bottom: 2rem;
}

section {
    padding: 3rem;
}

.divtext {
    padding-top: 2rem;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2rem; /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: lightslategray;
}